
.DS_Store
**/.DS_Store
.vscode/
.claude/
.venv/
.python-version

__pycache__/
*.py[cod]


results/
image.png
car_links.txt


data/raw/
!data/raw/car_data.json


data/Prepared/*
!data/Prepared/car_data_clean.csv
